@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
    </style>
</head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Begin by checking out the options above</p>
    <h1>Under Construction</h1>
    <p>Many features of this app are still being developed and won't function as expected. Feedback is important, so tell me about the issues at olszew3@mail.nmc.edu.</p>
</div>
